<div class="row entirerow" id="singlerow">
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Bus Arrival {{busStopName}}{{busStopID}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><input type="text" ng-model="inpbusStopID"></li>
                <li><input type="button" ng-click='clickBusStopID()'></li>
            </ul>
        </div>
    </nav>
    <div class="row card-panel grey lighten-5">
        <div class="col s12 m12 l12"  id="card">
            <div ng-repeat="(i,List) in pageList track by $index" ng-cloak ng-show="slideIndex == i">
                <div ng-repeat="service in List" class="row-eq-height" ng-cloak="" style="list-style-type:none;" >
                    <div class="col s12 m12 l12 card" ng-class-even="'even-row'" ng-class-odd="'odd-row'">
                        <div class="grey lighten-5">
                            <div class="black-text">
                                <div class="col s4 m4 l4" id="serviceNo">
                                    <div style="float: left;">{{service.ServiceNo}}</div>
                                </div>
                                <div class="col s4 m4 l4">
                                    <div class="col s12 m12 l12" id="mainbus">
                                        <div style="float: left;">{{service.DiffNextBus}} </div><div ng-if="service.DiffNextBus != 'Arr' && service.DiffNextBus != '--' "><small>&nbsp;Mins</small></div>
                                    </div>
                                    <div class ="col s12 m12 l12" id="subbus">
                                        <div style="float: left;">{{service.DiffSubsequentBus }} </div><div ng-if="service.DiffSubsequentBus != 'Arr' && service.DiffSubsequentBus != '' "><small>&nbsp;Mins</small> </div>
                                    </div>
                                </div>
                                <div class="col s2 m2 l2" id="wheelchair">
                                    <i ng-class="{true:'fa fa-wheelchair', false: 'fa'}[service.NextBusFeature == 'WAB']"></i>
                                </div>
                                <div class="col s2 m2 l2" id="seatAvail">
                                    <img  ng-class={true:'ImageSize',false:''}[service.SeatImage!=''] ng-src="{{service.SeatImage}}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

